---
import { PricingSection } from "../components";
import Layout from "../layout/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PricingSection</title>
  </head>
  <body>
    <Layout>
      <PricingSection />
    </Layout>
  </body>
</html>
